[user]
  name = Murderlon
  email = merlijn@soverin.net
  signingkey = 1FF861FF1DDBB953

[alias]
  a = add
  b = branch
  c = commit
  cm = commit -m
  co = checkout
  d = diff
  f = fetch
  i = init
  m = merge
  s = status
  p = push
  l = log --pretty=oneline --graph --abbrev-commit
  # Show most recently worked on branches
  recent = "!git for-each-ref --count=10 --sort=-committerdate refs/heads/ --format='%(refname:short)' | fzf | xargs git checkout"
  # Create a fixup commit linked to another commit
  fixup = "!git log -n 20 --pretty=format:'%h %s' --no-merges | fzf | cut -c -7 | xargs -o git commit --fixup"
  # Show all commmits which have not been released yet (commits since the last tag)
  unreleased = "!git log --pretty=oneline --graph --abbrev-commit $(git describe --tags --abbrev=0 @^)..@"
  # Delete all local branches which no longer have a remote
  cleanbranches = "!git fetch -p && for branch in $(git for-each-ref --format '%(refname) %(upstream:track)' refs/heads | awk '$2 == "[gone]" {sub("refs/heads/", "", $1); print $1}'); do git branch -D $branch; done"

[apply]
  # Detect whitespace errors when applying a patch
  whitespace = fix

[core]
  editor = 'nvim'

  # File system monitoring (Git >= 2.37.0) speeds up git status a lot
  fsmonitor = true

  # Treat spaces before tabs and all kinds of trailing whitespace as an error
  # [default] trailing-space: looks for spaces at the end of a line
  # [default] space-before-tab: looks for spaces before tabs at the beginning of a line
  whitespace = space-before-tab,-indent-with-non-tab,trailing-space

  # Make `git rebase` safer on macOS
  # More info: <http://www.git-tower.com/blog/make-git-rebase-safe-on-osx/>
  trustctime = false

  # Prevent showing files whose names contain non-ASCII symbols as unversioned.
  # http://michael-kuehnel.de/git/2014/11/21/git-mac-osx-and-german-umlaute.html
  precomposeunicode = false

  # Speed up commands involving untracked files such as `git status`.
  # https://git-scm.com/docs/git-update-index#_untracked_cache
  untrackedCache = true
  
  ignoreCase = false

[color]
  # Use colors in Git commands that are capable of colored output when
  # outputting to the terminal. (This is the default setting in Git ≥ 1.8.4.)
  ui = auto

[color "branch"]
  current = yellow reverse
  local = yellow
  remote = green

[color "diff"]
  meta = yellow bold
  frag = magenta bold # line info
  old = red # deletions
  new = green # additions

[color "status"]
  added = yellow
  changed = green
  untracked = cyan

[commit]
  gpgsign = true

[diff]
  # Detect copies as well as renames
  renames = copies
  external = difft

[diff "bin"]
  # Use `hexdump` to diff binary files
  textconv = hexdump -v -C

[help]
  # Automatically correct and execute mistyped commands
  autocorrect = 1

[merge]
  # Include summaries of merged commits in newly created merge commit messages
  log = true

[push]
  # https://git-scm.com/docs/git-config#git-config-pushdefault
  default = current
  # Do not push tags on push without explicit --tags
  followTags = false

[filter "lfs"]
  clean = git-lfs clean -- %f
  smudge = git-lfs smudge -- %f
  process = git-lfs filter-process
  required = true

[pull]
  rebase = false

[init]
  defaultBranch = main

[rerere]
  enabled = true
[branch]
	sort = -committerdate
