[user]
  name = Murderlon
  email = merlijn@soverin.net
  signingkey = ssh-ed25519 AAAAC3NzaC1lZDI1NTE5AAAAIPOiHMC2bTIDNooAai2hVZoSjjR40LQfR0g4TmpeLH8q

[gpg]
  format = ssh

[gpg "ssh"]
  program = "/Applications/1Password.app/Contents/MacOS/op-ssh-sign"

[alias]
  # Show most recently worked on branches
  recent = "!git for-each-ref --count=10 --sort=-committerdate refs/heads/ --format='%(refname:short)' | fzf | xargs git checkout"
  # Create a fixup commit linked to another commit
  fixup = "!git log -n 20 --pretty=format:'%h %s' --no-merges | fzf | cut -c -7 | xargs -o git commit --fixup"
  # Show all commmits which have not been released yet (commits since the last tag)
  unreleased = "!git log --pretty=oneline --graph --abbrev-commit $(git describe --tags --abbrev=0 @^)..@"
  # Delete all local branches which no longer have a remote
  cleanbranches = "!f(){ git fetch -p && cur=$(git branch --show-current); git for-each-ref --format '%(refname:short) %(upstream) %(upstream:track)' refs/heads | while read branch up track; do [ \"$branch\" != \"$cur\" ] && { [ -z \"$up\" ] || [ \"$track\" = \"[gone]\" ]; } && git branch -D \"$branch\"; done; }; f"

[apply]
  # Detect whitespace errors when applying a patch
  whitespace = fix

[core]
  editor = 'nvim'
  autocrlf = input  # keep newlines as in input
  whitespace = error  # threat incorrect whitespace as errors
  preloadindex = true  # preload index for faster status
	ignorecase = false

[advice]  # disable advices
  addEmptyPathspec = false
  pushNonFastForward = false
  statusHints = false

[blame]
  coloring = highlightRecent
  date = relative

[status]
  branch = true
  short = true
  showStash = true
  showUntrackedFiles = all  # show individual untracked files

[commit]
  gpgsign = true

[diff]
  context = 3  # less context in diffs
  renames = copies  # detect copies as renames in diffs
  interHunkContext = 10  # merge near hunks in diffs

[help]
  # Automatically correct and execute mistyped commands
  autocorrect = 1

[merge]
  # Include summaries of merged commits in newly created merge commit messages
  log = true
	conflictStyle = diff3

[merge "mergiraf"]
  name = mergiraf
  driver = mergiraf merge --git %O %A %B -s %S -x %X -y %Y -p %P -l %L

[push]
  # https://git-scm.com/docs/git-config#git-config-pushdefault
  default = current
  # Do not push tags on push without explicit --tags
  followTags = false

[pull]
  rebase = true

[init]
  defaultBranch = main

[rerere]
  enabled = true

[branch]
	sort = -committerdate

[rebase]
	updateRefs = true
  autoSquash = true

[log]
  abbrevCommit = true  # short commits
  graphColors = blue,yellow,cyan,magenta,green,red
  decorate = short  # compact refs in log output
  date = relative  # human readable timestamps
  mailmap = true  # respect mailmap rewrites in log output

[format]
  pretty = %C(auto)%h %C(blue)%d%C(reset) %s %C(green)(%cr)%C(reset)

# Colors
[color "blame"]
  highlightRecent = black bold,1 year ago,white,1 month ago,default,7 days ago,blue

[color "branch"]
  current  = magenta
  local    = default
  remote   = yellow
  upstream = green
  plain    = blue

[color "status"]
  added = green
  changed = yellow
  untracked = blue
  unmerged = red

[color.decorate]
  HEAD = red
  branch = blue
  tag = yellow
  remoteBranch = magenta
